* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }

body{
    background-image: url(https://thumbs.dreamstime.com/b/el-equipo-m%C3%A9dico-del-concepto-de-salud-y-medicina-hospital-en-168438273.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

#formularioInicio, #formularioRegistro{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#formularioInicio input, #formularioRegistro input{
    width: 250px;
    height: 35px;
}

#aceptarTurno{
    width: 170px;
    height: 45px;
    border-radius: 20px;
}

.extras{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.extras button{
    width: 220px;
    height: 50px;
    border-radius: 5px;
}

#sedes{
    display: flex;
    justify-content: center;
    align-items: center;
}

.sedesCard{
    margin: 20px;
    width: 210px;
    height: 180px;
    text-align: center;
    border-radius: 20px;
    border: solid black 2px;
    background-color: rgb(201, 142, 124);
}

.sedesCard .titulo{
    font-size: 25px;
    font-weight: bolder;
}

#datos{
    display: flex;
    justify-content: center;
    align-items: center;
}

#plantilla{
    margin: 20px;
    padding: 5px;
    width: 280px;
    height: 160px;
    font-weight: bolder;
    color: black;
    border: solid black 2px;
    background-color: rgb(236, 226, 226);
}

#plantilla h2{
    text-align: center;
}

#CheckRecordar{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 180px;
    height: 30px;
    margin-top: 0px;
    font-weight: bolder;
}

#CheckRecordar input{
    width: 23px;
    height: 23px;
    margin-left: 5px;
}